{% load manifest %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django Starter</title>
    <link rel="stylesheet" type="text/css" href="{% manifest 'app.css' %}">
    {% block styles %}
    {% endblock styles %}
  </head>
  <body class="ahihi">
    {% block content %}
    {% endblock content %}
    {% manifest_match '*vendors*.js' '<script src="{match}"></script>' %}
    <script type="text/javascript" src="{% manifest 'app.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
